SECRET_KEY=

DEBUG=

# Redis

REDIS_USER=

REDIS_PASSWORD=

REDIS_HOST=

# RabbitMQ

RABBITMQ_DEFAULT_USER=guest

RABBITMQ_DEFAULT_PASSWORD=guest

RABBITMQ_DEFAULT_HOST=localhost

# RapidAPI

RAPID_API_KEY=your-rapidapi-key


# Google Cloud Service Account 

GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-file.json

SPOTIFY_CLIENT_ID=your-spotify-client-id

SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
