[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = "*"
django-redis = "*"
celery = "*"
pymemcache = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-imagekit = "*"
django-celery-beat = "*"
drf-spectacular = "*"
django-debug-toolbar = "*"
django-import-export = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
unidecode = "*"
levenshtein = "*"
thefuzz = "*"
rapidfuzz = "*"
pyotp = "*"
qrcode = "*"
whitenoise = "*"
googlesearch-python = "*"
nltk = "*"
kagglehub = "*"
pandas = "*"
channels-redis = "*"
certifi = "*"
channels = {extras = ["daphne"], version = "*"}
autobahn = "==22.4.2"
firebase-admin = "*"
graphene-django = "*"
django-filter = "*"
django-environ = "*"
pydantic = "*"
factory-boy = "*"
httpx = "*"
django = "*"
django-mcp-server = "*"
django-oauth-toolkit = "*"
django-oauth-toolkit-dcr = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.13"
