@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "tailwindcss-primeui";
@import "tw-animate-css";

@custom-variant dark (&:where(.p-dark, .p-dark *, .dark));

@theme {
    --font-sans: "Inria Sans", sans-serif;
    --font-title: "Raleway", sans-serif;

    --color-secondary-50: #f5fcf7;
    --color-secondary-100: #ebf8ee;
    --color-secondary-200: #cdefd6;
    --color-secondary-300: #b9e8c5;
    --color-secondary-400: #afe5bd;
    --color-secondary-500: #9bdeac;
    --color-secondary-600: #7cb28a;
    --color-secondary-700: #6d9b78;
    --color-secondary-800: #4e6f56;
    --color-secondary-900: #1f2c22;
    --color-secondary-950: #000000;

    --color-neutral-50: #fefefc;
    --color-neutral-100: #fbfaee;
    --color-neutral-200: #faf9eb;
    --color-neutral-300: #f9f8e7;
    --color-neutral-400: #f8f6e0;
    --color-neutral-500: #f7f5dd;
    --color-neutral-600: #c6c4b1;
    --color-neutral-700: #949385;
    --color-neutral-800: #636258;
    --color-neutral-900: #191816;
    --color-neutral-950: #000000;
}

/* Primary and Surface Palettes */
:root {
    --p-primary-50: #fdeaf0;
    --p-primary-100: #f8c0d1;
    --p-primary-200: #f496b2;
    --p-primary-300: #ef6c94;
    --p-primary-400: #eb4275;
    --p-primary-500: #d0164e;
    --p-primary-600: #bd1447;
    --p-primary-700: #931037;
    --p-primary-800: #690b27;
    --p-primary-900: #3f0718;
    --p-primary-950: #150208;

    --p-surface-0: #ffffff;
    --p-surface-50: #fdeaf0;
    --p-surface-100: #f8c0d1;
    --p-surface-200: #f496b2;
    --p-surface-300: #ef6c94;
    --p-surface-400: #eb4275;
    --p-surface-500: #d0164e;
    --p-surface-600: #53091f;
    --p-surface-700: #3e0717;
    --p-surface-800: #2a0410;
    --p-surface-900: #150208;
    --p-surface-950: #000000;

    --p-content-border-radius: 6px;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-100);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-100);
        --p-text-hover-color: var(--p-surface-100);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-title);
    }
}
