{% extends "base_site.html" %}

{% block container %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolorem id totam, 
                    temporibus maiores cum adipisci ipsa sapiente est ratione autem laudantium placeat libero amet 
                    facere facilis. Nisi, molestias consectetur?
                </div>
            </div>
        </div>
    </div>
{% endblock %}
